.text-center{
  text-align: center;
}

.article-height{
  height: 200px;
}

.relative{
  position: relative;
}

.absolute{
  position: relative;
}

.background-cover{
  background-position: center;
  background-size: cover;
}
